html {
}

body {
  background-color:whitesmoke;
}

.container p.p-1 {
  font-size: 11pt;
  line-height: 1.3;
}
.container-fluid.container-fluid-1 {
  padding: 40px 20px 0px 20px;
  background: rgba(223, 237, 186, 0.388235);
  background-image: url('/img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

.container-fluid .container .hero-unit {
  padding: 40px 60px 30px 60px;
  background: transparent;
  color: #fff;
  text-align: center;
}
.container-fluid .container .hero-unit .heading {
  font-size: 40pt;
  text-align: center;
}
.container-fluid .container .hero-unit .heading .icon {
  color: #d94614;
  font-size: 37.77777862548828px;
  height: 48px;
  width: 38px;
}

.container-fluid .container .hero-unit p {
  padding: 0px;
  font-size: 18px;
  text-align: center;
  line-height: 19px;
}

.container-fluid .container .hero-unit p #social {
  padding: 0px;
  text-align: center;
}

.container-fluid .container .hero-unit a {
  color: #fff;
}

.container-fluid .container .hero-unit a:hover {
  text-decoration: none;
}

.navbar {
  height: 20px;
}
.navbar .navbar-inner {
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.0980392), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.0980392);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.0980392), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.0980392);
  -o-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.0980392), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.0980392);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.0980392), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.0980392);
}
.navbar .navbar-inner .brand {
  font-size: 10pt;
}
.navbar .navbar-inner .nav .active a {
  font-size: 10 pt;
  text-shadow: 0px 1px 0px #ffffff;
  -moz-box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 0.121569);
  -webkit-box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 0.121569);
  -o-box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 0.121569);
  box-shadow: inset 0px 3px 8px 0px rgba(0, 0, 0, 0.121569);
}
.container .page-header {
  padding: 0px;
  margin: 10px 140px 10px 140px;
}
.container .page-header h1 {
  font-size: 35.55555725097656px;
}
.container .row-fluid .span12 .btn-toolbar .btn-group .btn .icon {
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px 0px 0px;
}
.container-fluid .container .row-fluid .span12 p {
  color: #ffffff;
  line-height: 21.111112594604492px;
}

.nav>li>a.active {
  color: #0088cc !important;
}

.navlinks a.active {
  color: #333;
}

.archivelink {
  /*margin: 25px 50px;*/
}

.archivelist {
  margin: 15px 50px;
  list-style: none;
}

.postwrap, .postBody {
  margin-top: 25px;
  font-family: "Droid Sans";
}

.archivewrap {
  margin: 25px 50px;
  border-radius: 3px;
  padding: 15px;
  position: relative;
  border-top: 1px solid #eee;
  background: #fff;
  margin-bottom: 25px;
}

.postbox {
  border-radius: 3px;
  padding: 15px;
  position: relative;
  border-top: 1px solid #eee;
  background: #fff;
  margin-bottom: 25px;
  min-height: 300px !important;
}

.postbox h1, h2, h3 {
  font-family: 'Droid Serif', 'Serif';
  text-decoration: none;
}

.postbox a:hover {
  text-decoration: none;
}

.postTitle {
  padding-top: 20px;
}

.postTitle h1, h2, h3 {
  font-family: 'Droid Serif', 'Serif';
}

.postbox h2 {
  font-size: 27.5px;
}

.postbox h2 a {
  color: #333;
}

.postInfo {
  border-bottom: 1px solid #dededc;
  padding-top: 10px;
  padding-bottom: 10px;
}

.postContent, .postComments
{
  padding-top: 20px;
  max-width: 640px;
  margin: 0 auto;
}

.profilepic {
  position: relative;
  display: block;
  background-size: cover;
  background-position: center;
  width: 90px;
  height: 90px; 
}