<!DOCTYPE HTML>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif:400,300,700"
    media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css"
    />
     <link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css"
    />
    <link href="/css/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css"
    />
    <title>Site</title>
  </head>

  <body>
    <div class="container-fluid container-fluid-1">
      <div class="container">
        <div class="hero-unit">
          <img src="https://twimg0-a.akamaihd.net/profile_images/3049176214/e6b70277423206f0de308c4e3280bdf6_bigger.jpeg" class="img-circle" />
          <h2><a href="/">Turker Keskinpala</a></h2>
          <p>Program Manager at Microsoft working on Bing (previously OData). 
            <br> Electrical Engineer, PhD Vanderbilt University.
            <br> Redmond, WA
          </p>
          <p id="social">
            <a href="http://twitter.com/tkes" rel="Xtooltip" target="_blank" title="Follow me on twitter">
              <img width="28px" height="28px" src="/img/twitter.png">
            </a>

            <a href="http://linkedin.com/in/turker" rel="Xtooltip" target="_blank" title="Add me on linkedIn">
              <img width="28px" height="28px" src="/img/linkedin.png">
            </a>

          </p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      {{ content }}
    </div>

  </body>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37284910-1']);
    _gaq.push(['_setDomainName', 'github.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</html>