<!DOCTYPE HTML>
<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Limelight|Flamenco|Federo|Yesteryear|Josefin Sans|Spinnaker|Sansita One|Handlee|Droid Sans|Oswald:400,300,700"
    media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css"
    />
     <link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css"
    />
    <link href="/css/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css"
    />
    <title>Site</title>
  </head>

  <body>
    <div class="container-fluid container-fluid-1">
      <div class="container">
        <div class="hero-unit">
          <img src="https://twimg0-a.akamaihd.net/profile_images/105942185/profile_bigger.jpg" class="img-circle" />
          <h2>Turker Keskinpala</h2>
          <!-- <p>Program Manager at Microsoft. PhD Vanderbilt University</p> -->
          <p>Program Manager at Microsoft working on Bing. Electrical Engineer, PhD Vanderbilt University</p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      {{ content }}
    </div>
  </body>

</html>